<a href="{{ url_for('admin.admin_dashboard') }}"
    class="dashboard-link hover:text-green-600 transition font-semibold">Dashboard</a>
<a href="{{ url_for('admin.admin_attractions') }}" class="hover:text-green-600 transition">Attractions</a>
<a href="{{ url_for('admin.admin_events') }}" class="hover:text-green-600 transition">Events</a>

<a href="{{ url_for('public.index') }}" class="hover:text-green-600 transition">View Site</a>
<a href="{{ url_for('auth.logout') }}"
    class="bg-green-600 text-white px-4 py-2 rounded-full hover:bg-green-700 transition text-sm">Logout</a>