<a href="{{ url_for('index') }}" class="hover:text-green-600 transition">Home</a>
<a href="{{ url_for('map_view') }}" class="hover:text-green-600 transition">Interactive Map</a>
<a href="{{ url_for('barangays') }}" class="hover:text-green-600 transition">Barangays</a>
<a href="{{ url_for('events') }}" class="hover:text-green-600 transition">Events</a>
<a href="{{ url_for('gallery') }}" class="hover:text-green-600 transition">Gallery</a>
<a href="{{ url_for('routes') }}" class="hover:text-green-600 transition">Routes</a>
<a href="#" class="hover:text-green-600 transition">About</a>
<a href="{{ url_for('login') }}" class="text-green-700 font-bold hover:text-green-900 transition text-sm mr-2">Login</a>
<a href="{{ url_for('register') }}"
    class="bg-green-600 text-white px-4 py-2 rounded-full hover:bg-green-700 transition text-sm">Register</a>